.footer {
  position: fixed;
  bottom: 0;
  background-color: #007bff;
  width: 100%;
  left: 0;
  height: 40px;
  font-size: small;

  & .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
