/* TopNav Styles */
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff; /* Blue background */
  padding: 10px;
  margin: 0;
  color: rgb(208, 72, 72);
  font-family: Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Ensure full width */
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.topnav-start img {
  height: 50px;
  cursor: pointer;
}

.topnav-links {
  display: flex;
  gap: 100px;
  border-width: 10px;
  border-color: black;
}

.topnav-button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-width: 20px;
  border-color: #ffdd57;
}

.topnav-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  color: #ffdd57; /* Yellow text on hover */
}

.topnav-end .topnav-profile-button {
  background: white;
  border: none;
  color: #007bff;
  font-size: 18px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 0px 0px 0px 0px;
}

.topnav-end .topnav-profile-button:hover {
  background: #ffdd57; /* Yellow background on hover */
  color: #007bff;
}

.topnav-end .topnav-icon {
  font-size: 20px;
}

.topnav-logout-button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
}
