* {
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: normal;
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
