.about {
  margin: 25px 100px 100px 100px;
  text-align: left;

  .team-member-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  align-items: center;
}
